<!DOCTYPE html>
<html ng-app="xueyouApp" xmlns:th="http://www.thymeleaf.org" id="html">
<head>
    <meta charset="utf-8"/>
    <title>xxxx</title>
    <!-- Load CSS files-->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../static/css/plugin/bootstrap/bootstrap-datetimepicker.min.css" rel="stylesheet" th:href="@{/css/plugin/bootstrap/bootstrap-datetimepicker.min.css}"/>   
    <link href="../static/css/plugin/bootstrap/font-awesome.min.css" rel="stylesheet" th:href="@{/css/plugin/bootstrap/font-awesome.min.css}"/>   
    <link href="../static/css/customer/common.css" rel="stylesheet" th:href="@{/css/customer/common.css}"/>   
    <link href="../static/css/customer/index.css" rel="stylesheet" th:href="@{/css/customer/index.css}"/>   
    <link href="../static/css/customer/app.css" rel="stylesheet" th:href="@{/css/customer/app.css}"/>   
    <!-- <link href="../static/css/plugin/flatui/flat-ui.min.css" rel="stylesheet" th:href="@{/css/plugin/flatui/flat-ui.min.css}"/> -->   
</head>
<body id="body">
	sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss
	<!-- Load plugin js file-->
	<script src="http://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="../static/js/plugin/bootstrap/bootstrap-datetimepicker.min.js" th:src="@{/js/plugin/bootstrap/bootstrap-datetimepicker.min.js}"></script>
	<script src="../static/js/plugin/bootstrap/bootstrap-datetimepicker.zh-CN.js" th:src="@{/js/plugin/bootstrap/bootstrap-datetimepicker.zh-CN.js}"></script>
	<script src="../static/js/plugin/angular/angular.js" th:src="@{/js/plugin/angular/angular.js}"></script>
	<!-- <script src="../static/js/plugin/flatui/flat-ui.min.js" th:src="@{/js/plugin/flatui/flat-ui.min.js}"></script> -->
	<script src="../static/js/plugin/angular/angular-route.min.js" th:src="@{/js/plugin/angular/angular-route.min.js}"></script>
	<script src="../static/js/plugin/angular/angular-resource.min.js" th:src="@{/js/plugin/angular/angular-resource.min.js}"></script>
	
	<!-- <script src="../static/js/plugin/angular/angular-loader.min.js" th:src="@{/js/plugin/angular/angular-loader.min.js"></script> -->
	
	<script src="../static/js/plugin/angular/angular-ui-router.js" th:src="@{/js/plugin/angular/angular-ui-router.js}"></script>
	<script src="../static/js/plugin/angular/angular-file-upload-shim.min.js" th:src="@{/js/plugin/angular/angular-file-upload-shim.min.js}"></script>
	<script src="../static/js/plugin/angular/angular-file-upload.min.js" th:src="@{/js/plugin/angular/angular-file-upload.min.js}"></script>
	<script src="../static/js/plugin/angular/angular-base64-upload.min.js" th:src="@{/js/plugin/angular/angular-base64-upload.min.js}"></script>
	<!-- Load custom js file -->
	<script src="../static/js/customer/common/app.js" th:src="@{/js/customer/common/app.js}"></script>
	<script src="../static/js/customer/common/directive.js" th:src="@{/js/customer/common/directive.js}"></script>
	<script src="../static/js/customer/common/common.js" th:src="@{/js/customer/common/common.js}"></script>
	<script src="../static/js/customer/common/style.js" th:src="@{/js/customer/common/style.js}"></script>
	<script src="../static/js/customer/cumt/cumtCtrl.js" th:src="@{/js/customer/cumt/cumtCtrl.js}"></script>
	<script src="../static/js/customer/cumt/cumtService.js" th:src="@{/js/customer/cumt/cumtService.js}"></script>
</body>
</html>