@charset "utf-8";
/*常用css*/
a{
	text-decoration: none !important;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.clear_float{
	clear: both;
}
.text_center{
	text-align: center;
}
.prompt_span{
	line-height: 34px;
	color:red;
}
/*李翔添加：end*/

