@charset "utf-8";
#html{
	height:100%;
}
#body{
    margin:0px;
    height:100%;
	background:#F2F2F2;
}
.top_nav{
	padding-left:30px;
	border:0px;
}
.data_ui_view{
	height:100%;
	background:#ff8000;
}
.all_view{
	height:100%;
	overflow:auto;
	background:#e09e9e;
	padding-top:50px;
	padding-bottom:20px;
}
footer{
	height:20px;
	width:100%;
	background:#41555d;
	position: fixed;
	bottom: 0px;
}
.footer_div{
	text-align: center;
}